* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(216, 111, 69);
}

h1 {
    text-align: center;
    padding-block: 35px 65px;
    color: white;
}

.recipe-links ul {
    list-style: none;
    text-align: center;
}

.recipe-links li {
    display: inline-block;
    margin-inline: 14px;
    background-color: brown;
    border: 4px solid black;
    border-radius: 40px;
    vertical-align: top;
    width: 300px;
    text-align: center;
}

.recipe-links a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: white;
}

.recipe-links p {
    text-align: justify;
    margin-block: 10px;
}

.recipe-gif {
    display: block;
    margin: 10px auto 0px;
    width: 250px;
    height: 200px;
    border-radius: 14px;
}

/* Lasagna Page */

.home-link {
    display: block;
    text-decoration: none;
    color: white;
    background-color: brown;
    width: 100px;
    padding: 10px;
    text-align: center;
    border-radius: 30px;
    margin: 50px auto 0px;
    font-size: 20px;
}

.title.recipe {
    margin-block: 30px;
    text-align: center;
    padding-block-end: 24px;
    color: white;
    font-size: 50px;
}

.lasagna-img {
    display: block;
    margin: 10px auto;
    width: 800px;
    height: 650px;
    border-radius: 100px 18px;
    margin-block-end: 80px;
}

.title {
    text-align: center;
    color: white;
    font-size: 50px;
    margin-block: 30px 50px;
}

.section-description {
    margin: 50px auto 30px;
    width: 1100px;
    background-color: brown;
    border: 8px solid white;
    border-radius: 50px;
    color: white;
    padding: 10px;
}

.text {
    margin: 10px 30px 10px;
    text-align: justify;
    font-size: 20px;
    padding-block-end: 30px;
}

.section-ingredients {
    margin: 30px 50px 50px 100px;
    display: inline-block;
    width: 520px;
    background-color: brown;
    border: 4px solid white;
    border-radius: 50px;
    border-width: 8px;
    color: white;
    padding: 10px;
    vertical-align: top;
}

.text.ingredients-lists {
    padding-inline-start: 55px;
}

.section-steps {
    vertical-align: top;
    margin: 30px 50px 50px 30px;
    display: inline-block;
    width: 520px;
    background-color: brown;
    border: 4px solid white;
    border-radius: 50px;
    border-width: 8px;
    color: white;
    padding: 10px 50px;
    margin-inline-start: auto;
}

.title.ingredients,
.title.steps {
    text-align: start;
    margin-inline-start: 30px;
}