* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: rgb(216, 111, 69);
    padding-block: 0px 30px;
}

h1 {
    text-align: center;
    padding-block: 35px 65px;
    color: black
}

.recipe-links ul {
    list-style: none;
    text-align: center;
}

.recipe-links li {
    display: inline-block;
    margin-inline: 14px;
    background-color: brown;
    border: 4px solid black;
    border-radius: 40px;
    vertical-align: top;
    width: 300px;
    text-align: center;
}

.recipe-links a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: white;
}

.recipe-links p {
    text-align: justify;
    margin-block: 10px;
}

.recipe-gif {
    display: block;
    margin: 10px auto 0px;
    width: 250px;
    height: 200px;
    border-radius: 14px;
}